@model Repository.Models.BudgetItem

@{
    ViewData["Title"] = "CreateBudgetItem";
}

<h1>CreateBudgetItem</h1>

<h4>BudgetItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBudgetItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BudgetItemName" class="control-label"></label>
                <input asp-for="BudgetItemName" class="form-control" />
                <span asp-validation-for="BudgetItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="Groceries">Groceries</option>
                    <option value="Gas">Gas</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Coffee">Coffee</option>
                    <option value="Dining Out">Dining Out</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
