@model Repository.Models.GoalItem

@{
    ViewData["Title"] = "CreateGoalItem";
}

<h1>Create Goal Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGoalItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GoalItemName" class="control-label"></label>
                <input asp-for="GoalItemName" class="form-control" />
                <span asp-validation-for="GoalItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="Treat Yo' Self">Treat Yo' Self</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
